<div class="home-container">
    <header class="header">
        <h1>Servicios Disponibles</h1>
        <p>Elige tu estilo</p>
    </header>

    <div class="services-grid" *ngIf="!loading; else loader">
        <div class="service-card" *ngFor="let service of services">
            <div class="service-info">
                <h3>{{ service.nombre }}</h3>
                <span class="price">${{ service.precio | number }}</span>
            </div>
            <p class="duration">{{ service.duracion_min }} min</p>
            <app-button variant="outline" label="Reservar"
                (click)="bookService(service.id,service.precio)"></app-button>
        </div>
    </div>

    <ng-template #loader>
        <app-loading-spinner message="Cargando servicios..." size="medium"></app-loading-spinner>
    </ng-template>
</div>